html {
	position:relative;
	min-height:100%;
}

body {
	line-height:1.6;
	font-size:16px;
	margin:0;
	padding:0;
	color:#8e9292;
	background-color:#3c3f41;
}

.content {
	margin:40px auto;
	margin-top:1px;
	margin-bottom:51px;
	max-width:650px;
	padding:10px;
	border-radius:2px;
	background-color:#313335
}

header {
	background-color:#2b2b2b;
	text-align:center;
}

header h1 {
	margin:0px;
}

header ul, footer ul {
	list-style:none;
	margin:0px;
	padding:0;
}

header ul li, footer ul li {
	display:inline;
}

footer {
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background-color:#2b2b2b;
	text-align:center;
	font-weight:bold;
}

div {
	padding: 3px;
}

img {
	max-width:100%;
	max-height:100%;
}

.highlighter-rouge {
	border-radius:2px;
	background-color:#2b2b2b;
}

a:link {
	color:#7ca8c6;
}

a:visited {
	color:#9676ac;
}

strong {
	color: #b1c73d;
}

em {
	color: #c57825;
}
