<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/darcula-like.css">
		<link rel="alternate" type="application/atom+xml" title="Jason Brown's Blog" href="/feed.xml">
	</head>
	<body>
		<a href="top"></a>
		<div>
		<div class="header">
			<H1>Jason R Brown</H1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/personal">Personal</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
		</div>
		{{ content }}
		<hr>
		<footer>
			<a href="#top">Back to top</a>
			<ul>
				<li>Author: {{ page.author }}</li>
				<li>|</li>
				<li>Revised {{ page.date }}</li>
				<li>|</li>
				<li><a href="/feed.xml">RSS</a></li>
			</ul>
		</footer>
		</div>
	</body>
</html>
